<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{components/layout}">
<head>
    <title>Formulário de usuário</title>
</head>

<body>
<main class="light flex-grow-8 padding-20" layout:fragment="content">

    <h1 th:text="${user.id != null ? 'Atualizar usuário' : 'Cadastre um novo usuário'}"></h1>
    <fieldset class="max-width-500px">
        <legend>Dados do usuário</legend>
        <div th:replace="~{components/alert :: alert}"></div>
        <!--<div class="alert alert-danger" th:if="${not #lists.isEmpty(errors)}">
            <p class="font-bold">Erro!</p>
            <p>Alguns erros foram encontrados:</p>
            <ul>
                <li th:each="error: ${errors}" th:text="${error.defaultMessage}"></li>
            </ul>
        </div>-->
        <form th:action="${user.id != null} ? @{/users/{id}(id=${user.id})} : @{/users}"
              th:object="${user}"
              method="post">

            <!-- Hide field fot PUT method if updating -->
            <input type="hidden" name="_method" th:if="${user.id != null}" value="put">

            <!-- CSRF token for security -->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

            <div>
                <label for="name">Nome: </label>
                <!--<input type="text" name="name" id="name" th:field="*{name}">-->
                <input type="text" name="name" id="name" th:field="*{name}" maxlength="255" required>
            </div>

            <div>
                <label for="email">E-mail:
                    <p class="input-description">O e-mail deve ser escrito com @id.uff.br.</p>
                </label>
                <!--<input type="text" name="email" id="email" th:field="*{email}">-->
                <!--<input type="text" name="email" id="email" th:field="*{email}" maxlength="255" required>-->
                <input type="email" name="email" id="email" th:field="*{email}" maxlength="255"
                       th:readonly="${user.id != null}" required>
            </div>

            <div th:unless="${user.id != null}">
                <label for="password">Senha:
                    <p class="input-description">A senha deve possuir pelo menos 8 caracteres.</p>
                </label>
                <input type="password" name="password" id="password" th:field="*{password}" maxlength="100" required>
            </div>
            <div class="margin-y-20">
                <label for="roles">Função: </label>
                <select id="roles" name="roles" th:field="*{roles}" required>
                    <option th:each="role : ${roles}"
                            th:value="${role.id}"
                            th:text="${role.name}">
                    </option>
                </select>
                <!--
                <div th:each="role : ${roles}">
                    <input type="checkbox"
                           th:field="*{roles}"
                           th:value="${role.id}"
                           th:id="${'role-'+role.id}"
                    >
                    <label th:for="${'role-'+role.id}" th:text="${role.name}"></label>
                </div>
                -->
            </div>

            <div>
                <button type="submit" class="button success font-light">
                    <span th:text="${user.id != null} ? 'Atualizar' : 'Cadastrar'"></span>
                </button>
            </div>

        </form>
    </fieldset>
</main>
</body>
</html>
