<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{components/layout}">
<head>
    <title>Formulário de usuário</title>
</head>

<body>
<main class="light flex-grow-8 padding-20" layout:fragment="content">
    <h1>Cadastre um novo usuário</h1>
    <fieldset>
        <legend>Dados do usuário</legend>
        <form class="max-width-500px" th:action="@{/users}" th:object="${user}" method="post">
            <div>
                <label for="name">Nome: </label>
                <input type="text" name="name" id="name" th:field="*{name}" required>
            </div>

            <div>
                <label for="email">E-mail:</label>
                <input type="email" name="email" id="email" th:field="*{email}" required>
            </div>

            <div>
                <label for="password">Senha:</label>
                <input type="password" name="password" id="password" th:field="*{password}" required>
            </div>
            <div class="margin-y-20">
                <label for="roles">Função: </label>
                <select id="roles" name="roles" th:field="*{roles}" required>
                    <option th:each="role : ${roles}"
                            th:value="${role.id}"
                            th:text="${role.name}">
                    </option>
                </select>
                <!--
                <div th:each="role : ${roles}">
                    <input type="checkbox"
                           th:field="*{roles}"
                           th:value="${role.id}"
                           th:id="${'role-'+role.id}"
                    >
                    <label th:for="${'role-'+role.id}" th:text="${role.name}"></label>
                </div>
                -->
            </div>

            <div>
                <button type="submit" class="button success font-light">Cadastrar usuário</button>
            </div>

        </form>
    </fieldset>
</main>
</body>
</html>
