<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{components/layout}">
<head>
    <title>Usuários</title>
</head>

<body>
<main class="light flex-grow-8 padding-20"  layout:fragment="content">
    <h1>Usuários</h1>

    <table>
        <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Editar</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.name}">Nome</td>
                <td th:text="${user.email}">Email</td>
                <td><a href="#">Editar</a></td>
            </tr>
        </tbody>
    </table>


    <p>
        <a th:href="@{/users/create}">Criar novo usuário</a>
    </p>
</main>
</body>
</html>
