<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{components/layout}">
<head>
    <title>Pessoa</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<main class="light flex-grow-8 padding-20"  layout:fragment="content">
    <h1>Pessoa</h1>
    <div th:replace="~{components/alert :: alert}"></div>
    <div class="max-width-800px" th:if="${person.id != null}">
        <dl th:object="${person}">
            <dt>Nome:</dt>
            <dd th:text="*{name}"></dd>
            <dt>CPF:</dt>
            <dd th:text="*{cpf} ?: 'Nenhum CPF registrado'"></dd>
            <dt>Telefone:</dt>
            <dd th:text="*{phone} ?: 'Nenhum número registrado'"></dd>
            <dt>E-mail:</dt>
            <dd th:text="*{email} ?: 'Nenhum e-mail registrado'"></dd>
            <dt>Tipo:</dt>
            <dd th:text="*{personType.type}"></dd>
            <th:block th:if="${person.personType.type == 'orientador'}">
                <dt>PPG:</dt>
                <th:block th:if="${not #lists.isEmpty(person.ppgList)}">
                    <dd th:each="ppg : ${person.ppgList}">
                        <span th:text="${ppg.name}"></span>
                        <a th:href="@{/people/{id}/ppgs/{ppgId}(id=${person.id}, ppgId=${ppg.id})}"
                           th:data-url="@{/people/{id}/ppgs/{ppgId}(id=${person.id}, ppgId=${ppg.id})}"
                           onclick="return deleteEntity(this.getAttribute('data-url'), event)"
                           role="button"
                           aria-label="Remover orientador o PGG"
                        >
                            <svg class="vertical-align-middle" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#03a696" d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
                        </a>
                    </dd>
                </th:block>
                <dd th:if="${#lists.isEmpty(person.ppgList)}">
                    <mark>Nenhum PPG associado</mark>
                </dd>
            </th:block>
        </dl>
        <div class="margin-y-40" th:if="${person.personType.type == 'orientador'}">
            <fieldset>
                <legend>Adicionar orientador a um PPG</legend>
                <p th:if="${#lists.isEmpty(ppgList)}">Nenhum programa de Pós-graduação encontrado. Para visualizar os programas
                    disponíveis, certifique-se de já ter realizado algum <a th:href="@{/ppgs/create}">cadastro de programa de Pós-graduação</a>.
                </p>
                <form th:if="${!ppgList.empty}" method="post" th:action="@{/people/{id}/ppgs(id=${person.id})}">

                    <!--<input type="hidden" name="_method" value="patch">-->
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                    <div>
                        <select id="ppgId" name="ppgId" required>
                            <option value="">--- Selecione um programa de Pós-graduação ---</option>
                            <option th:each="ppg : ${ppgList}"
                                th:value="${ppg.id}"
                                th:text="${ppg.name}">
                            </option>
                        </select>
                    </div>

                    <div>
                        <button type="submit" class="button success font-light">
                            Adicionar
                        </button>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
</main>
</body>
</html>