:root {
    --alert-danger-bg-color: rgba(242,87,97, 0.5);
    --alert-danger-text-color: #4D0808;
    --alert-success-bg-color: rgba(3,166,150, 0.5);
    --alert-success-text-color: #24524E;

    --success: #03A696;
    --dark: #2D3940;
    --light: #F2F2F2;
    --link: #0000FF;
}

/*******

ASSETS

********/
#logo-agir {
    width: 300px;
    height: auto;
}
/*******

FONTS

********/
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.jost-<uniquifier> {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

* {
    font-family: "Jost", sans-serif;
}

h1, h2, h3, h4, h5, h6, legend {
    font-family: "Poppins", sans-serif;
    color: var(--dark);
}

p, label, legend, input, select, option, ul, ol {
    font-family: "Jost", sans-serif;
    color: var(--dark);
}

a {
    color: var(--success);
}


/*******

CORES

********/

.dark {
    background: var(--dark);
}

.light {
    background: var(--light);
}

.success {
    background: var(--success);
}

.font-dark {
    color: var(--dark);
}

.font-light {
    color: var(--light);
}

.border-bottom {
    border-bottom: solid 1px var(--dark);
}

/*******

TABLE

********/

thead {
    background: var(--dark);
    color: var(--light);
    text-align: left;
    font-weight: normal;
}

tr {
    border-bottom: solid 1px var(--dark)
}

tbody tr:nth-child(even) {
background: white;
}

th, td {
    padding: 12px 15px;
}

th {
    white-space: nowrap;
}

th a {
    color: #ffffff;
}
/*******

FORM

********/

input {
    box-sizing: border-box;
    font-size: 1.2rem;
    padding: 10px 5px 0 5px;
    border: none;
    border-bottom: 2px solid var(--dark);
    outline: none;
    background: none;
}

input:focus {
    background: #fff;
}

input[type=search] {
    padding-left: 30px;
    max-width: 500px;
}

#search i {
    position: absolute;
    top: 20px;
    left: 5px;
}

#yearNotice {
    max-width: 100px;
}

/*******

LOGIN FORM

********/

#login-form {
    width: 300px;
    height: auto;
    margin: 40px 0 0 0;
}

#login-form h1, #login-form h2 {
    margin: 0;
}

.input-container {
    display: block;
    position: relative;
    height: 34px;
    margin: 0 0 30px 0;
}

.input-container svg {
    position: absolute;
    bottom: 0;
}

.input-container input {
    margin-left: 35px;
    width: 265px;
}

.input-description {
    font-size: 0.9rem;
}

/*******

SIDEBAR

********/

#sidebar {
    box-sizing: border-box;
    width: 400px;
}

/*******

NAV MENU

********/
#nav-menu {

}

#nav-menu li {
    margin: 30px 0;
}

#nav-menu a {
    display: block;
    color: #F2F2F2;
    line-height: 40px;
}

#nav-menu a:hover {
    text-decoration: underline;
}

#nav-menu svg {
    wdith: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

/*******

ALERTS

********/

.alert {
    box-sizing: border-box;
    padding: 10px;
    margin: 15px 0;
    border-radius: 5px;
}

.alert-danger {
    background: var(--alert-danger-bg-color);
}

.alert-danger * {
    color: var(--alert-danger-text-color);
}

.alert-success {
    background: var(--alert-success-bg-color);
}

.alert-success * {
    color: var(--alert-success-text-color);
}

.alert li {
    list-style: inside square;
    margin: 15px 0;
}

.alert a {
    color: var(--link);
}

/*******

BUTTON

********/

.button {
    box-sizing: border-box;
    min-width: 100px;
    padding: 8px 15px;
    border: none;
    font-weight: normal;
    font-size: 1rem;
    opacity: 80%;
    cursor: pointer;
}

.button:hover {
    opacity: 100%;
}

.button:focus {
    opacity: 100%;
}

button[type=submit] {

}


