<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{components/layout}">
<head>
    <title>Bolsas e Tipos de Bolsas</title>
</head>

<body>
<main class="light flex-grow-8 padding-20" layout:fragment="content">
    <h1>Bolsas e Tipos de Bolsas</h1>
    <ul>
        <li><a th:href="@{/scholarships?sort=id,asc}">Bolsas</a></li>
        <li><a th:href="@{/scholarshipTypes}">Tipos de Bolsas</a></li>
    </ul>
</main>
</body>
</html>
