<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{components/layout}">
<head>
    <title>Configurações</title>
</head>

<body>
<main class="light flex-grow-8 padding-20" layout:fragment="content">
    <h1>Configurações</h1>
    <fieldset>
        <legend>Alterar senha</legend>
        <form th:action="@{/settings/change-password}" method="post" class="max-width-500px">
            <div th:if="${success}" class="alert alert-success">
                <p class="font-bold">Sucesso!</p>
                <p>Senha alterada com sucesso</p>
            </div>
            <div th:if="${error != null}" class="alert alert-danger">
                <p class="font-bold">Erro!</p>
                <p th:text="${error}"> </p>
            </div>
            <div>
                <label for="currentPassword">Senha atual:</label>
                <input type="password" name="currentPassword" id="currentPassword" maxlength="100" required>
            </div>
            <div>
                <label for="newPassword">Nova senha:
                    <p class="input-description">A senha deve possuir pelo menos 8 caracteres.</p>
                </label>
                <input type="password" name="newPassword" id="newPassword" maxlength="100" required>
            </div>
            <div>
                <label for="confirmPassword">Repetir senha:</label>
                <input type="password" name="confirmPassword" id="confirmPassword" maxlength="100" required>
            </div>

            <div>
                <button type="submit" class="button success font-light">Alterar senha</button>
            </div>
        </form>
    </fieldset>

</main>
</body>
</html>