<!-- src/main/resources/templates/components/pagination.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
  <meta charset="UTF-8">
  <title>Paginação</title>
</head>
<body>
<!-- Pagination controls -->
<div class="" id="pagination" th:fragment="pagination" th:if="${entityList.totalPages > 1}">
  <!-- Previous Page Link -->
  <span th:if="${entityList.hasPrevious()}">
        <a th:href="@{'/' + ${baseViewPath} +
        '?page=' + ${entityList.number-1} +
        '&size=' + ${entityList.size} +
        ${sort != '' ? '&sort='+sort : ''} +
        ${yearNotice != null ? '&yearNotice='+yearNotice : ''}
        }">Anterior</a>
    </span>

  <!-- Page Numbers -->
  <span th:each="i : ${#numbers.sequence(0, entityList.totalPages-1)}">
        <a th:if="${i != entityList.number}"
           th:href="@{'/' + ${baseViewPath} +
           '?page=' + ${i} +
           '&size=' + ${entityList.size} +
           ${sort != '' ? '&sort='+sort : ''} +
           ${yearNotice != null ? '&yearNotice='+yearNotice : ''}
           }"
           th:text="${i+1}"></a>
        <span th:unless="${i != entityList.number}" th:text="${i+1}"></span>
    </span>

  <!-- Next Page Link -->
  <span th:if="${entityList.hasNext()}">
        <a th:href="@{'/' + ${baseViewPath} +
        '?page=' + ${entityList.number+1} +
        '&size=' + ${entityList.size} +
        ${sort != '' ? '&sort='+sort : ''}+
        ${yearNotice != null ? '&yearNotice='+yearNotice : ''}
        }">Próximo</a>
    </span>
</div>
</body>
</html>