<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{components/layout}">
<head>
    <title>Projeto</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>
<body>
<main class="light flex-grow-8 padding-20"  layout:fragment="content">
    <h1>Projeto</h1>
    <div th:replace="~{components/alert :: alert}"></div>
    <div class="max-width-800px" th:if="${project.id != null}">
        <dl th:object="${project}">
            <dt>Nome:</dt>
            <dd th:text="*{name}"></dd>
            <dt>Inicío em:</dt>
            <dd th:text="*{start}"></dd>
            <dt>Término em:</dt>
            <dd th:text="*{end}"></dd>
            <dt>Empresa:</dt>
            <dd th:text="*{company.name}"></dd>
            <dt>Orientador:</dt>
            <dd th:text="*{advisor.ppg.name}"></dd>
            <dd th:text="*{advisor.person.name}"></dd>
            <th:block th:if="*{coAdvisor != null}">
                <dt>Coorientador:</dt>
                <dd th:text="*{coAdvisor.ppg.name}"></dd>
                <dd  th:text="*{coAdvisor.person.name}"></dd>
            </th:block>
        </dl>

    </div>
</main>
</body>
</html>